@font-face {
	font-family: 'Gotham';
	src: url('/fonts/GothamOffice-Bold.eot');
	src: local('/fonts/Gotham Office Bold'), local('GothamOffice-Bold'),
		url('/fonts/GothamOffice-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/GothamOffice-Bold.woff2') format('woff2'),
		url('/fonts/GothamOffice-Bold.woff') format('woff'),
		url('/fonts/GothamOffice-Bold.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Light.eot');
	src: local('/fonts/Lato Light'), local('Lato-Light'),
		url('/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Lato-Light.woff') format('woff'),
		url('/fonts/Lato-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Regular.eot');
	src: local('/fonts/Lato Regular'), local('Lato-Regular'),
		url('/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Lato-Regular.woff') format('woff'),
		url('/fonts/Lato-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Semibold.eot');
	src: local('/fonts/Lato Semibold'), local('Lato-Semibold'),
		url('/fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Lato-Semibold.woff') format('woff'),
		url('/fonts/Lato-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}



